<!DOCTYPE html>
<html>

<head>
  <title>Weather app</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="container col-xs-12 col-md-12 col-lg-7">

    <div class="row">


      <form action="/addville" class="form-inline ajoutville col-md-12" method="post">
        <div class="form-group mb-2" id="titleville">
          Ville
        </div>

        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" name="ville" placeholder="Paris, Lyon,..." value="">
        </div>

        <button type="submit" class="btn btn-primary mb-2 btn-warning">Enregistrer</button>
      </form>

    </div>

    <ul class="list-group">

      <%
      for(var i=0; i<city.length; i++) {
      %>


        <li class="list-group-item d-flex justify-content-between col-md-12">

          <span><%= city[i].name %></span>

          <span class="col-md-6">
            <img src="http://openweathermap.org/img/w/<%= city[i].picto %>.png">
            <p class="badge badge-secondary"><%= city[i].temps %></p>
            <p class="badge badge-secondary"><%= city[i].tempmin %></p>
            <p class="badge badge-secondary"><%= city[i].tempmax %></p>
          </span>

          <a href="/deleteville?id=<%=city[i]._id%>">
            <span class="badge badge-default">
              <i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i>
            </span>
          </a>
        </li>

      <%
      }
      %>

    </ul>

  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>


</body>

</html>
